In [9]:
import pandas as pd
player_stats = pd.read_csv('player_stats_vs_kyle_and_friends.csv')

In [10]:
player_stats #prints out our csv file in a readable format

,Name,AST,2GM,3GM,FG Miss,FT Made,FT Miss,REB/BOX,BLK,STL/CHT,TOV/TECF/OFF,FTA,FGA,FGM,PT,Rating,Rank
0,Alvaro,0,3,1,5,0,0,3,0,0,2,0,9,4,24,5.10000,3.0
1,Ben,0,0,0,0,0,0,1,0,0,1,0,0,0,26,-0.35000,5.0
2,Conner,0,2,0,2,0,0,2,0,0,1,0,4,2,26,2.60000,4.0
3,Dan,0,0,0,1,0,0,0,0,1,2,0,1,0,24,-1.65000,8.0
4,Ethan,0,0,0,3,0,0,1,0,0,0,0,3,0,18,-1.30000,6.0
5,Nick,0,1,0,6,0,3,5,0,0,1,3,7,1,14,-1.35000,7.0
6,Tyler,0,6,0,7,0,0,7,0,3,1,0,13,6,30,12.80000,2.0
7,Walt,1,0,6,6,0,2,8,0,4,3,2,12,6,32,20.20000,1.0
8,Team Totals,1,12,7,30,0,5,27,0,8,11,5,49,19,200,0.18025,NaN

In [11]:
player_stats.shape #gives us a number of rows an columns

(9, 17)

In [12]:
player_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          9 non-null      object
 1   AST           9 non-null      int64
 2   2GM           9 non-null      int64
 3   3GM           9 non-null      int64
 4   FG Miss       9 non-null      int64
 5   FT Made       9 non-null      int64
 6   FT Miss       9 non-null      int64
 7   REB/BOX       9 non-null      int64
 8   BLK           9 non-null      int64
 9   STL/CHT       9 non-null      int64
 10  TOV/TECF/OFF  9 non-null      int64
 11  FTA           9 non-null      int64
 12  FGA           9 non-null      int64
 13  FGM           9 non-null      int64
 14  PT            9 non-null      int64
 15  Rating        9 non-null      float64
 16  Rank          8 non-null      float64
dtypes: float64(2), int64(14), object(1)
memory usage: 1.3+ KB